

params {
  outdir = './results'
}

profiles {
  standard {
    includeConfig 'conf/base.config'
  }
  farm3 {
    includeConfig 'conf/base.config'
    includeConfig 'conf/farm3.config'
  }
  none {
    // Don't load any config (for use with custom home configs)
  }
}

process.shell = ['/bin/bash', '-euo', 'pipefail']

timeline {
  enabled = true
  file = "${params.outdir}/timeline.html"
}
trace {
  enabled = true
  file = "${params.outdir}/trace.txt"
}






