


process {

  time = 12.h
  maxErrors  = -1
  memory = 4.GB

  withName: get_data {
    cpus = 1
    memory = 1.GB
  }

  withName: demux_bam {
    errorStrategy = 'ignore'
    cpus   = {  1  }
    memory = {  12.GB }
    maxForks = 100
  }

  withName: sampleinfo {
    cpus = 1
    errorStrategy = { task.exitStatus == 130 && task.attempt <= process.maxRetries ? 'retry' : 'ignore' }
    memory = {  3.GB  + 5.GB * (task.attempt-1) }
    maxRetries = 2
    maxForks = 365
  }

  withName: merge_distr {
    cpus = 1
    memory = 1.GB
    maxForks = 100
  }

}

