


process {

  time = 12.h
  maxRetries = 2
  maxErrors  = -1
  memory = 4.GB

  withName: get_data {
    cpus = 1
    memory = 1.GB
  }

  withName: demux_bam {
    cpus   = {  1  }
    memory = {  12.GB }
  }

  withName: sampleinfo {
    cpus = 1
    errorStrategy = { task.exitStatus == 130 && task.attempt <= process.maxRetries ? 'retry' : 'ignore' }
    memory = {  4.GB  + 8.GB * (task.attempt-1) }
  }

  withName: merge_distr {
    cpus = 1
    memory = 1.GB
  }

}

